.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
  max-width: 100%;
}

.App-header row {
  max-width: 100%;
}

.App-title {
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

.Search {
  margin: 1%;
}

.Search input, select {
  width: 100%;
  text-align: center;
  text-align-last: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
